<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script>


    </script>
</head>

<body>

<form action="/testMaven/admin/odersProcess.do">
    <div class="radio my_radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="1" checked>待处理
        </label>
    </div>
    <div class="radio my_radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="2" >已发货
        </label>
    </div>
    <div class="radio my_radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios3" value="3" disable>已交付
        </label>
    </div>
    <div class="radio my_radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios4" value="4" disabled>退单
        </label>
    </div>
    <div class="radio my_radio">
        <button type="submit" class="btn btn-default">保存</button>
    </div>


</form>

</body>
</html>